header {
    background-color:cornflowerblue ;
    border-bottom: 1px solid rgb(3, 168, 3);

    text-align: center;
    font-family: 'Oswald', fantasy;
    position: relative;
    width: 100%;
    z-index: 10;
}

.giphy-embed1{
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 0%;
    margin-bottom: 0%;
    border: 3px solid cornflowerblue;
    margin-bottom: 0px;
}
.header{
    margin-top: 0px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    font-family: 'Oswald', fantasy;
    border: 4px solid rgb(3, 168, 3);
    height: max-content;
    width: 100%;
}
.select1{
    display: block;
    font-family:serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;

    background-color: cornflowerblue;

}

.select2{
    display: block;
    font-family:serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;

}


